* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;

    background-color: #F3F5FC;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.title {
    text-align: center;

    margin: 20px 0 100px 0 ;
}

.title h1 {
    color: #0A3871;
}

.side-left {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 40%;
}

.text span {
    font-size: 0.8rem;
    opacity: 0.8;

    margin-bottom: 10px;
}

textarea {
    height: 50vh;

    resize: none;
    outline: none;
    border: none;

    background-color: #F3F5FC;

    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
}

textarea::placeholder {
    color: #0A3871;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    border: none;
    border-radius: 15px;

    background-color: #0A3871;
    color: #fff;
    font-family: 'Lato', sans-serif;

    height: 40px;
    width: 200px;
}

.side-right {
    background-color: #fff;

    border-radius: 20px;

    width: 20%;
    height: 80%;
    padding: 20px;
}

.side-right img {
    width: 100%;
}

.side-right h3 {
    text-align: center;
}

.side-right p {
    margin-top: 10px;

    opacity: 0.7;

    font-size: 0.8rem;
    text-align: center;
}

footer p {
    opacity: 0.5;
    text-align: center;

    margin-top: 50px;
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .side-right {
        margin: 10px;
        width: auto;
    }

    .side-right img {
        display: none;
    }

    footer {
        margin-bottom: 30px;
    }
}

@media (max-width: 485px) {
    .container {
        align-items: normal;
    }

    .title p {
        text-align: center;
    }

    .title h1 {
        font-size: 1.7rem;
    }

    textarea::placeholder {
        opacity: 0.8;
    }

    textarea, .text, .side-right {
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}